DEBUG=True
SECRET_KEY=your-secret-key-here
DB_NAME=exemplo_db
DB_USER=exemplo
DB_PASSWORD=exemplo@123
DB_HOST= nome_do_container
DB_PORT=5432
# Esses do Postgres são necessários pro servico de DB
POSTGRES_USER= exemplo
POSTGRES_PASSWORD=exemplo@123
POSTGRES_DB=exemplo_db
#####################################################
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
JWT_SECRET_KEY=your-jwt-secret-key
JWT_ACCESS_TOKEN_LIFETIME_MINUTES=15
ALLOWED_HOSTS=*
CORS_ALLOWED_ORIGINS=http://localhost:3000
